{% extends "base.html" %}

{% block content %}
<div class="header__container">
  <form class="assign__table__form" method="post" action="{{ url_for('.assign_table') }}">
    <h2>Assign table</h2>
    {{ table_assignment_form.tables }}
    {{ table_assignment_form.servers }}
    {{ table_assignment_form.assign }}
  </form>
  <form class="logout__form" method="POST" action="{{ url_for('session.logout') }}">
    <button type="submit">Logout</button>
  </form>
</div>
<div class="main__container">
  <div class="open__orders__container">
    <h2>Your open orders</h2>
    {% for (order_id, table_id, table_number, order_price) in open_orders%}
      <div class="order">
        <span>{{table_number}}</span>
        <span>${{order_price}}</span>
        <form method="POST" action="{{ url_for('orders.close_table', order_id=order_id)}}">
          <button type="submit">Close Table</button>
        </form>
        <form>
          <button type="submit">Add to order</button>
        </form>
      </div>
    {% endfor %}
  </div>
  <div>
    {% for (item_type, item_details) in menu_items %}
      <div class="food_type_container">
        <h2>{{item_type}}</h2>
        <div class="food__items__container">
          {% for (item_id, item_name) in item_details %}
            <div>
              <input type="checkbox" id="{{item_id}}" name="{{item_name}}" checked/>
              <label for="{{item_id}}">{{item_name}}</label>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
